{% from "govuk/components/select/macro.njk" import govukSelect %}


{{ govukSelect(pduSelectArgs) }}






<script src="/assets/accessible-autocomplete.min.js" type="text/javascript"></script>
<script nonce={{ cspNonce }}>
  const urlParams = new URLSearchParams(window.location.search);
  const value = urlParams.get('pdu');

  accessibleAutocomplete.enhanceSelectElement({
    defaultValue: value || undefined,
    selectElement: document.querySelector('#pdu-select'),
    showAllValues: true,
    onConfirm: (val) => {
      let url = window.location.href;
      if (val && val !== 'select') {
        if (url.indexOf('?') > -1) {
          if (url.includes('pdu')) {
            url = url.replace(/pdu=[^&]*/, `pdu=${val}`);
          } else {
            url += `&pdu=${val}`;
          }
        } else {
          url += `?pdu=${val}`;
        }
      }
      location.replace(url);
    }
  });

  // If pdu param exists, set it on the underlying select element
  if (value) {
    const selectElement = document.querySelector('#pdu-select');
    selectElement.value = value;
    // Trigger change event so any listeners are notified
    selectElement.dispatchEvent(new Event('change', { bubbles: true }));
  }
</script>

