{%- from "govuk/components/button/macro.njk" import govukButton %}
{%- from "moj/components/button-menu/macro.njk" import mojButtonMenu -%}

<div class="govuk-grid-column-two-thirds">
  <span class="govuk-caption-l">{{ text.pageCaption }}</span>
  <h1 class="govuk-heading-l">{{ text.pageHeading }}</h1>
</div>

<div class="govuk-grid-column-one-third">
    <div class="moj-button-group moj-button-group--inline header-menu-button">
        {% if presenter.showButtonMenu() %}
          {{ mojButtonMenu(presenter.getButtonMenu()) }}
        {% endif %}
    </div>
</div>
