{% from "components/custom-primary-navigation/macro.njk" import customPrimaryNavigation %}
{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "govuk/template.njk" %}

{% block head %}
  <link href="{{ '/assets/css/index.css' | assetMap }}" rel="stylesheet"/>
{% endblock %}

{% block pageTitle %}{{pageTitle | default(applicationName)}}{% endblock %}

{% block govukSkipLink %}
  <nav aria-label="Skip links">
    {{ govukSkipLink({
      href: '#main-content',
      text: 'Skip to main content'
    }) }}
  </nav>
{% endblock %}

{% block header %}
  <header class="govuk-template__header">
    {% include "./header.njk" %}
    {% include "./betaBanner.njk" %}
    {{ customPrimaryNavigation(primaryNavigationArgs) }}

    {% if serviceUserBannerPresenter %}
      {% include "./serviceUserBanner.njk" %}
      {% block referralSubNavigation %}
        {% if presenter.getHorizontalSubNavArgs %}
          <div class="govuk-width-container service-user-banner__sub-nav govuk-!-margin-bottom-0">
            {{ mojSubNavigation(presenter.getHorizontalSubNavArgs()) }}
          </div>
        {% endif %}
      {% endblock %}
    {% endif %}
  </header>
{% endblock %}

{% block footer %}
 <footer class="probation-common-footer govuk-!-display-none-print">
      <div class="govuk-width-container">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <div class="probation-common-footer__support-links">
              <h2 class="govuk-visually-hidden">Support links</h2>
              <ul class="probation-common-footer__inline-list">
                {# <li class="probation-common-footer__inline-list-item">
                  <a class="probation-common-footer__link" href="#/accessibility">Accessibility</a>
                </li> #}
                <li class="probation-common-footer__inline-list-item">
                  <a class="probation-common-footer__link" href="https://probation-frontend-components-dev.hmpps.service.justice.gov.uk/cookies-policy">Cookies policy</a>
                </li>
                <li class="probation-common-footer__inline-list-item">
                  <a class="probation-common-footer__link" href="https://probation-frontend-components-dev.hmpps.service.justice.gov.uk/privacy-policy">Privacy policy</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    
    
{% endblock %}

{% block bodyStart %}
<div class="govuk-modal-dialogue-inert-container">
{% endblock %}

{% block bodyEnd %}
</div>
<div class="govuk-modal-dialogue" data-modal-type="inactivity-warning" data-inert-container=".govuk-modal-dialogue-inert-container">
  <div class="govuk-modal-dialogue__wrapper">
    <dialog class="govuk-modal-dialogue__box" aria-labelledby="modal-title-inactivity-warning" aria-modal="true" role="alertdialog" tabindex="-1">
      <div class="govuk-modal-dialogue__header">
        <button type="button" class="govuk-button govuk-modal-dialogue__close" aria-label="close" data-element="govuk-modal-dialogue-close">x</button>
      </div>
      <div class="govuk-modal-dialogue__content">
        <h2 class="govuk-modal-dialogue__heading govuk-heading-l" id="modal-title-inactivity-warning">You will be signed out soon</h2>
        <div class="govuk-modal-dialogue__description govuk-body">
          <p>You have not interacted with the service for the last 50 minutes.</p>
          <p>We will delete any unsaved information and sign you out if you do not continue in the next 10 minutes. This is to protect your information.</p>
          {{ govukButton({
            text: "Continue using Accredited Programmes",
            type: "button",
            attributes: {
              "data-element": "govuk-modal-dialogue-close"
            }
          }) }}
        </div>
      </div>
    </dialog>
  </div>
  <div class="govuk-modal-dialogue__backdrop"></div>
</div>
{% if sentry and sentry.loaderScriptId %}
    <script nonce="{{ cspNonce }}">
      window.sentryOnLoad = function() {
        Sentry.init({
          release: "hmpps-accredited-programmes-manage-and-deliver-ui@{{ version }}",
          environment: "{{ sentry.environment }}",
          tracesSampleRate: {{ sentry.tracesSampleRate }},
          replaysSessionSampleRate: {{ sentry.replaySampleRate }},
          replaysOnErrorSampleRate: {{ sentry.replayOnErrorSampleRate }},
          initialScope: {
            user: { username: "{{ user.username }}" },
          },
        });
      };
    </script>
    <script src="https://js.sentry-cdn.com/{{ sentry.loaderScriptId }}.min.js" nonce="{{ cspNonce }}" crossorigin="anonymous"></script>
  {% endif %}
  <script type="module" src="{{ '/assets/js/index.js' | assetMap }}"></script>
{% endblock %}
