{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us improve it.'
}) }}

<section class="key-details-bar" aria-label="Key details">
  <div class="key-details-bar__key-details govuk-width-container govuk-body">
    <div class="prisoner-info">
      <div class="key-details-bar__top-block">
        <span class="govuk-visually-hidden">Name:</span>
        <span class="key-details-bar__name"><strong>{{ serviceUserBannerPresenter.name }}</strong></span>
      </div>
      <div class="key-details-bar__bottom-block">
        <span class="govuk-body govuk-!-margin-right-2"><strong>CRN: </strong>{{ serviceUserBannerPresenter.crn }}</span> |
        <span class="govuk-body govuk-!-margin-right-2 govuk-!-margin-left-2"><strong>Date of birth: </strong>{{ serviceUserBannerPresenter.dateOfBirth }}</span> |
        <span class="govuk-body  govuk-!-margin-left-2"><strong>Tier: </strong>C2</span>
      </div>
    </div>
  </div>
</section>
