{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us improve it.'
}) }}

<section class="key-details-bar" aria-label="Key details">
  <div class="key-details-bar__key-details govuk-width-container govuk-body">
    <div class="prisoner-info">
      <div class="key-details-bar__top-block">
        <span class="govuk-visually-hidden">Name:</span>
        <span class="key-details-bar__name">
          <strong>{{ serviceUserBannerPresenter.name }}</strong>
        </span>
      </div>
      <div class="key-details-bar__bottom-block">
        <span class="govuk-body govuk-!-margin-right-2">
          <strong>CRN: </strong>{{ serviceUserBannerPresenter.crn }}</span> |
        <span class="govuk-body govuk-!-margin-right-2 govuk-!-margin-left-2">
          <strong>Date of birth: </strong>{{ serviceUserBannerPresenter.dateOfBirth }}</span>
      </div>
    </div>
  </div>
</section>
{% if presenter.getHorizontalSubNavArgs %}
<div class="govuk-width-container service-user-banner__sub-nav govuk-!-margin-bottom-0">
  {{ mojSubNavigation({
    label: "Sub navigation",
    classes: "govuk-!-margin-bottom-0",
    items: [{
      text: "Referral details",
      href: "/referral-details/" + presenter.referral.id + "/personal-details",
      active: presenter.horizontalNavValue == "referralDetails"
    }, {
      text: "Risks and needs",
      href: "/referral/" + presenter.referral.id + "/risks-and-alerts",
      active: presenter.horizontalNavValue == "risksAndNeeds"
    }, {
      text: "Programme needs identifier",
      href: "/referral/" + presenter.referral.id + "/programme-needs-identifier",
      active: presenter.horizontalNavValue == "programmeNeedsIdentifier"
    }, {
      text: "Availability and motivation",
      href: "/referral/" + presenter.referral.id + "/group-allocation-notes/motivation-background-and-non-associations",
      active: presenter.horizontalNavValue == "availabilityAndMotivation"
    }, {
      text: "Attendance history",
      href: "/referral/" + presenter.referral.id + "/attendance-history",
      active: presenter.horizontalNavValue == "attendanceHistory"
    }, {
      text: "Status history",
      href: "/referral/" + presenter.referral.id + "/status-history",
      active: presenter.horizontalNavValue == "statusHistory"
    }]
  }) }}
</div>
{% endif %}