{#
  Example of how to display user location in a layout template that all pages inherit from.
  Add this to your main layout template (typically in server/views/layout.njk or similar).
#}

{% if userLocation %}
  <div class="user-location-banner">
    <p>
      <strong>Current Location:</strong> {{ userLocation.locationDescription }}
      <span class="location-code">({{ userLocation.locationCode }})</span>
    </p>
  </div>
{% endif %}

