{% extends "../partials/layout.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
{%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}
{% block main %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us improve it.'
}) }}
<section class="key-details-bar" aria-label="Key details">
  <div class="key-details-bar__key-details govuk-width-container govuk-body">
    <div class="prisoner-info">
      <div class="key-details-bar__top-block">
        <span class="govuk-visually-hidden">Name:</span>
        <span class="key-details-bar__name"><strong>Alex River</strong></span>
      </div>
      <div class="key-details-bar__bottom-block">
        <span class="govuk-body govuk-!-margin-right-2"><strong>CRN: </strong>X123445</span> |
        <span class="govuk-body govuk-!-margin-right-2 govuk-!-margin-left-2"><strong>Date of birth: </strong>5 February 1991 (33 years old)</span> |
        <span class="govuk-body  govuk-!-margin-left-2"><strong>Tier: </strong>C2</span>
      </div>
    </div>
  </div>
</section>
{% block content %}
<div class="govuk-width-container" id="main-content">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Referral to Building Choices: moderate intensity</h1>
      {{ mojSubNavigation(presenter.getHorizontalSubNavArgs()) }}
      <p>{{presenter.personalDetails | json}}</p>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      </div>
    </div>
    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-third">

        {{ mojSideNavigation(presenter.getVerticalSubNavArgs()) }}

      </div>
      <div class="govuk-grid-column-two-thirds">
        {% if presenter.subNavValue == 'programmeHistory' %}
        <div>
          Programme History
        </div>
        {% elif presenter.subNavValue == 'offenceHistory' %}
        <div>
          Offence History
        </div>
        {% elif presenter.subNavValue == 'sentenceInformation' %}
        <div>
          Sentence Information
        </div>
        {% elif presenter.subNavValue == 'availability' %}
        <div>
          Availability
        </div>
        {% elif presenter.subNavValue == 'location' %}
        <div>
          Location
        </div>
        {% elif presenter.subNavValue == 'additionalInformation' %}
        <div>
          Additional Information
        </div>
        {% else %}
          <div>
            Personal Details
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>


{% endblock %}
{% endblock %}



