{% macro groupServiceNavigation(serviceNavigationArgs) %}
  {% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
  
  {{ govukServiceNavigation(serviceNavigationArgs) }}
{% endmacro %}


 