{% macro groupServiceNavigation(navigationPresenter) %}
  {% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
  
  {{ govukServiceNavigation({
    classes: navigationPresenter.classes,
    navigation: navigationPresenter.navigationItems
  }) }}
{% endmacro %}


 