
{%- from "govuk/macros/attributes.njk" import govukAttributes -%}

{% set apiErrorMessageHtmlByKey = {
  ndeliusOrOasys: '<p>NDelius or OASys data unavailable</p><p>The service cannot retrieve this information at the moment. Try again later.</p>',
  ndeliusArnsOrOasys: '<p>NDelius, ARNS or OASys data unavailable</p><p>The service cannot retrieve this information at the moment. Try again later.</p>'
} %}

{% set apiErrorMessageHtml = params.html %}
{% if not apiErrorMessageHtml and params.apiErrorMessageKey %}
  {% set apiErrorMessageHtml = apiErrorMessageHtmlByKey[params.apiErrorMessageKey] %}
{% endif %}


{%- if params.inset %}
  {% set apiErrorClasses = 'moj-inset-api-error' %}
  {% if params.attributes and params.attributes.class %}
    {% set apiErrorClasses = apiErrorClasses + ' ' + params.attributes.class %}
  {% endif %}
  {% set apiErrorAttributes = (params.attributes or {}) | objectMerge({ class: apiErrorClasses }) %}
  <div {{ govukAttributes(apiErrorAttributes) }}>
    {%- if apiErrorMessageHtml %}
      {{- apiErrorMessageHtml | safe -}}
    {%- elif params.text %}
      {{- params.text -}}
    {%- else %}
    <p>NDelius or OASys data unavailable</p>
    <p>The service cannot retrieve this information at the moment. Try again later.</p>
    {% endif -%}
  </div>
{%- else %}
  {% set apiErrorClasses = 'moj-api-error' %}
  {% if params.attributes and params.attributes.class %}
    {% set apiErrorClasses = apiErrorClasses + ' ' + params.attributes.class %}
  {% endif %}
  {% set apiErrorAttributes = (params.attributes or {}) | objectMerge({ class: apiErrorClasses }) %}
  <div {{ govukAttributes(apiErrorAttributes) }}>
    {%- if apiErrorMessageHtml %}
      {{- apiErrorMessageHtml | safe -}}
    {%- elif params.text %}
      {{- params.text -}}
    {%- else %}
      <p>NDelius, ARNS or OASys data unavailable</p>
      <p>The service cannot retrieve this information at the moment. Try again later.</p>
    {% endif -%}
  </div>
{%- endif %}
