{% extends "./partials/layout.njk" %}

{% block content %}
  <h1 class="govuk-heading-l">
    You cannot access the Accredited Programmes service yet
  </h1>
  <p>
    Access is being extended to regions in stages over the next few months.
  </p>
{% endblock %}
