{% extends "../partials/layout.njk" %}

{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "moj/components/alert/macro.njk" import mojAlert %}
{% from "moj/components/page-header-actions/macro.njk" import mojPageHeaderActions %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}


{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
 {{ govukBackLink(backLinkArgs) }}
<form id="session-notes-form" method="post">
  <input type="hidden" name="_csrf" value="{{ csrfToken }}">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-0">
   {% if successMessageSummary %}
      {{ mojAlert(successMessageSummary) }}
    {% endif %}</div>
  <div class="govuk-grid-column-full">
     
{{ mojPageHeaderActions({
     classes: "govuk-!-margin-bottom-0",
  heading: {
    text: text.headingText,
    classes: "govuk-heading-l"
  },
  items: [{
    text: text.updateAttendanceAndNotesButtonText,
    classes: "govuk-button--primary",
    element: "button",
    type: "submit",
    attributes: {
      form: "session-notes-form"
    }
  } ]
}) }}
  </div>

  <div class="govuk-grid-column-two-thirds">
    {{ govukInsetText({
      text: text.lastUpdatedText
    }) }}
      {% for section in notesBodyArgs %}
        <section>
          {{ section.html | safe }}

         {% if section.data %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p> <a class="govuk-link govuk-!-padding-right-6" style="vertical-align: top;" href="{{ section.data.sessionDetailsHref }}">{{ section.data.moduleName }}: {{ section.data.sessionName }}</a></p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Date</h3>
    <p >{{ section.data.lastUpdatedDate }}</p>
  </div>
   <div class="govuk-grid-column-one-quarter">
    <p class="session-notes__attendance">{{ section.data.attendance | safe }}</p>
  </div>
</div>
        {% endif %}

          {% if section.Notes %}
            {{ govukTextarea({
              id: "sessionNotes",
              name: "sessionNotes",
              value: section.Notes,
              rows: section.notesRows,
              label: {
                text: "Session notes",
                classes: "govuk-visually-hidden"
              }
            }) }}
          {% endif %}
        </section>
      {% endfor %}
  </div>
</div>
</form>
{% endblock %}
