{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

 <div>
   {{ govukInsetText(importFromDeliusText) }}
   <p>No availability details added for {{ presenter.personalDetails.name.forename }} {{ presenter.personalDetails.name.surname }}</p>

   {{ govukButton(availabilityButtonArgs) }}
</div>
