{% extends "../partials/layout.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
{%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}
{% from "moj/components/page-header-actions/macro.njk" import mojPageHeaderActions %}
{%- from "moj/components/alert/macro.njk" import mojAlert -%}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block main %}
  {% block content %}
    <div class="govuk-width-container">
      <main class="govuk-main-wrapper" id="main-content">
        <div class="govuk-grid-row">
          {% include "../partials/headerMenu.njk" %}
          <div class="govuk-grid-column-full">
            {{ mojSubNavigation(presenter.getHorizontalSubNavArgs()) }}
          </div>

          <div class="govuk-grid-column-three-quarters">
            {% if presenter.isCohortUpdated %}
            {{ mojAlert(presenter.cohortUpdatedSuccessMessageArgs) }}
            {% endif %}
            {% if presenter.isLdcUpdated %}
            {{ mojAlert(presenter.ldcUpdatedSuccessMessageArgs) }}
            {% endif %}
            <h2 class="govuk-heading-m">Referral summary</h2>
            {{ govukSummaryList(presenter.referralSummary) }}
          </div>
        </div>
      

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        </div>
      </div>
      <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-third">

          {{ mojSideNavigation(presenter.getVerticalSubNavArgs()) }}

        </div>
        <div class="govuk-grid-column-two-thirds">
          {% if presenter.subNavValue == 'programmeHistory' %}
            <div>

            Programme History
          </div>
          {% elif presenter.subNavValue == 'offenceHistory' %}
            <div>
              {% include "./offenceHistory.njk" %}
            </div>
          {% elif presenter.subNavValue == 'sentenceInformation' %}
            <div>
              {% include "./sentenceInformation.njk" %}
            </div>
          {% elif presenter.subNavValue == 'availability' %}
            <div>
              {% include "./availability.njk" %}
            </div>
          {% elif presenter.subNavValue == 'location' %}
            <div>
              {% include "./location.njk" %}
            </div>
          {% elif presenter.subNavValue == 'additionalInformation' %}
            <div>
            Additional Information
          </div>
          {% else %}
            {% include "./personalDetails.njk" %}
          {% endif %}
        </div>
      </div>
    </main>
    </div>
  {% endblock %}
{% endblock %}
