{% extends "../partials/layout.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
{%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}
{% from "moj/components/page-header-actions/macro.njk" import mojPageHeaderActions %}


{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block main %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us improve it.'
}) }}
{% block content %}
<div class="govuk-width-container" id="main-content">
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {{ mojPageHeaderActions(presenter.getSubHeaderArgs()) }}
        {{ mojSubNavigation(presenter.getHorizontalSubNavArgs()) }}
        <div class="govuk-grid-column-three-quarters">
          <h2 class="govuk-heading-m">Referral summary</h2>
          {{ govukSummaryList(referralSummary) }}
        </div>
      </div>
    </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        </div>
      </div>
      <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-third">

          {{ mojSideNavigation(presenter.getVerticalSubNavArgs()) }}

        </div>
        <div class="govuk-grid-column-two-thirds">
          {% if presenter.subNavValue == 'programmeHistory' %}
          <div>
            Programme History
          </div>
          {% elif presenter.subNavValue == 'offenceHistory' %}
          <div>
            Offence History
          </div>
          {% elif presenter.subNavValue == 'sentenceInformation' %}
          <div>
            Sentence Information
          </div>
          {% elif presenter.subNavValue == 'availability' %}
          <div>
            Availability
          </div>
          {% elif presenter.subNavValue == 'location' %}
          <div>
            Location
          </div>
          {% elif presenter.subNavValue == 'additionalInformation' %}
          <div>
            Additional Information
          </div>
          {% else %}
            {% include "./personalDetails.njk" %}
          {% endif %}
        </div>
      </div>

  </div>
</div>

{% endblock %}
{% endblock %}



