{% extends "../partials/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block main %}
    {% block content %}
        <div class="govuk-width-container">
          <main class="govuk-main-wrapper" id="main-content">
                <div class="govuk-grid-row govuk-!-margin-bottom-6">
                  <div class="govuk-grid-column-two-thirds">
                    {{ govukBackLink(backLinkArgs) }}
                  </div>
                  <div class="govuk-grid-column-one-third">
                    <a class="return_to_homepage__link" href={{ homePageLink.href }}>{{ homePageLink.text }}</a>
                  </div>
                </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <span class="govuk-caption-l">{{ text.headingHintText }}</span>
                        <h1 class="govuk-heading-l">Sessions and attendance</h1>
                        {{ govukAccordion(accordionArgs) }}
                    </div>
                </div>
            </main>
        </div>
    {% endblock %}
{% endblock %}