{% extends "../partials/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../components/groupServiceNavigation.njk" import groupServiceNavigation %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block main %}
    {% block content %}
        <div class="govuk-width-container">
          <main class="govuk-main-wrapper" id="main-content">
                <div class="govuk-grid-row govuk-!-margin-bottom-6">
                  <div class="govuk-grid-column-full">
                    {{ govukBackLink(backLinkArgs) }}
                  </div>
                </div>
            
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                      <span class="govuk-caption-m">{{ text.headingCaptionText }}</span>
                      <h1 class="govuk-heading-l">{{ text.headingText }}</h1>
                         {{ groupServiceNavigation(presenter.navigationPresenter.getServiceNavigationArgs()) }}
                     {{ govukAccordion(sessionAttendanceaccordionArgs) }}
                    </div>
                </div>
            </main>
        </div>
    {% endblock %}
{% endblock %}