{% extends "../partials/layout.njk" %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "../components/groupServiceNavigation.njk" import groupServiceNavigation %}
{% from "moj/components/alert/macro.njk" import mojAlert %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ groupServiceNavigation(serviceNavigationArgs) }}
    {% if presenter.scheduleSessionSuccessMessageArgs %}
      {{ mojAlert(presenter.scheduleSessionSuccessMessageArgs) }}
    {% endif %}
    <span class="govuk-caption-xl">{{ text.headingCaptionText }}</span>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-0">{{ text.headingText }}</h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {{ govukAccordion(sessionAttendanceAccordionArgs) }}
  </div>
</div>
{% endblock %}
