{% extends "../partials/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block main %}
{% block content %}
<div class="govuk-width-container">
  {{ govukBackLink(backLinkArgs) }}
  <main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% if errorSummary !== null %}
          {{ govukErrorSummary(errorSummary) }}
        {% endif %}
        <h1 class="govuk-heading-l">{{text.title}}</h1>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate>
          <input type="hidden" name="_csrf" value="{{csrfToken}}">
          {{ govukInsetText(insetText) }}
          {{ govukRadios(statusUpdateRadioButtons) }}
          <div class="govuk-button-group">
            {{ govukButton({ text: "Continue", preventDoubleClick: true }) }}
            <a class="govuk-link" href={{ backLinkUri }}>Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </main>
</div>
{% endblock %}
{% endblock %}
