$moj-page-width: 1170px;
@use 'node_modules/govuk-frontend/dist/govuk' with (
  $govuk-global-styles: true,
  $govuk-page-width: $moj-page-width,
  $govuk-assets-path: '/assets/images/'
);

@use 'node_modules/accessible-autocomplete/src/autocomplete';

// Our custom styles
@use 'risk/rosh-widget';
@use 'risk/risks-and-alerts';
@use 'risk/risk-flag-widget';
@use 'ogrs4-risk/index';

@use './components/accessible_autocomplete';
@use './components/header-bar';
@use './components/service-user-banner';
@use './components/card';
@use './components/custom-primary-navigation';
@use './components/modalTimeOut';
@use './overrides/local';
