$moj-page-width: 1170px;

// GOV.UK 5.x with config overrides
@use 'node_modules/govuk-frontend/dist/govuk' with (
  $govuk-global-styles: true,
  $govuk-page-width: $moj-page-width,
  $govuk-assets-path: '/assets/images/'
);

// MoJ 7.x
@use 'node_modules/@ministryofjustice/frontend/moj/all';

@use 'node_modules/accessible-autocomplete/src/autocomplete';

// Our custom styles
@use 'risk/rosh-widget';
@use 'risk/risks-and-alerts';
@use 'risk/risk-flag-widget';

@use './components/accessible_autocomplete';
@use './components/header-bar';
@use './components/service-user-banner';
@use './overrides/local';

/* ------------------------------------------
   Local GOV.UK font overrides
------------------------------------------- */

@font-face {
  font-family: 'GDS Transport';
  src:
    url('/assets/fonts/light-94a07e06a1-v2.woff2') format('woff2'),
    url('/assets/fonts/light-f591b13f7d-v2.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GDS Transport';
  src:
    url('/assets/fonts/bold-b542beb274-v2.woff2') format('woff2'),
    url('/assets/fonts/bold-affa96571d-v2.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
