{% extends "../partials/layout.njk" %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
{% from "moj/components/page-header-actions/macro.njk" import mojPageHeaderActions %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "components/rosh-widget/macro.njk" import roshWidget %}
{%- from "moj/components/alert/macro.njk" import mojAlert -%}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block main %}
  {% block content %}
    <div class="govuk-width-container" id="main-content">
      <div class="govuk-main-wrapper">
        <div class="govuk-grid-row">
          {% include "../partials/headerMenu.njk" %}
          <div class="govuk-grid-column-full">
            {{ mojSubNavigation(presenter.getHorizontalSubNavArgs()) }}
          </div>

          <div class="govuk-grid-column-three-quarters">
            {% if presenter.isCohortUpdated %}
              {{ mojAlert(presenter.cohortUpdatedSuccessMessageArgs) }}
            {% endif %}
            {% if presenter.isLdcUpdated %}
              {{ mojAlert(presenter.ldcUpdatedSuccessMessageArgs) }}
            {% endif %}
            <h2 class="govuk-heading-m">Programme needs identifier</h2>
            <p class="govuk-body govuk-!-margin-bottom-6">This is {{presenter.details.personName}}'s eligibility for Accredited Programmes, based on their risk and need scores.</p>
          </div>

          <div class="govuk-grid-column-three-quarters">
            <div class="{{pathwayDetails.class}}">
              <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
                <span>
                  <strong>{{pathwayDetails.headingText}}</strong>
                </span>
              </h3>
              <p class="govuk-body govuk-!-margin-bottom-1">{{pathwayDetails.bodyText}}</p>
            </div>
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
          </div>

          <div class="govuk-grid-column-three-quarters">
            <h2 class="govuk-heading-m">How is this calculated?</h2>
            <p class="govuk-body">Eligibility is based on a combination of:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                <a href={{ riskAndNeedsUrl }} class="govuk-link">risk scores</a>
              </li>
              <li>the programme needs identifier (PNI), which uses the following scores</li>
            </ul>
            {{ govukSummaryList(sexSummary) }}
            {{ govukSummaryList(thinkingSummary) }}
            {{ govukSummaryList(relationshipsSummary) }}
            {{ govukSummaryList(selfManagementSummary) }}
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
  {% endblock %}
