{% extends "../partials/layout.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{%- from "moj/components/alert/macro.njk" import mojAlert -%}
{%- from "govuk/macros/attributes.njk" import govukAttributes -%}

{% set pageTitle = pageTitle + " - " + applicationName %}
{% set mainClasses = "app-container govuk-body" %}

{% block main %}
  {% block content %}
    <main class="govuk-main-wrapper" id="main-content">
        <div class="govuk-grid-row">
          {% if showTopDataUnavailableMessage %}
            <div class="govuk-grid-column-full">
              {% set params = {
                attributes: { class: 'govuk-!-margin-bottom-4' },
                apiErrorMessageKey: 'ndeliusOrOasys'
              } %}
              {% include "../apiErrorMessages.njk" %}
            </div>
          {% endif %}
          {% include "../partials/headerMenu.njk" %}
          <div class="govuk-grid-column-three-quarters">
      
            {% if presenter.isCohortUpdated %}
              {{ mojAlert(presenter.cohortUpdatedSuccessMessageArgs) }}
            {% endif %}
            {{ mojAlert({
             variant: "warning",
             title: "The pathway shown here is currently based on OGRS3 risk scores",
             showTitleAsHeading: true,
             dismissible: false,
             html: '<p>The recommended pathway shown here is based on the old risk predictors (OGRS3). If this person’s risk scores use the new predictors (OGRS4), referrers or programme teams should calculate the recommended pathway manually.</p>
                    <p>Following the instructions in the Needs and Suitability guide, use the PNI scores under ‘How is this calculated?’ and the risk scores in this service or OASys to calculate this.</p>'
            }) }}
            {% if presenter.isLdcUpdated %}
              {{ mojAlert(presenter.ldcUpdatedSuccessMessageArgs) }}
            {% endif %}
            <p class="govuk-body govuk-!-margin-bottom-6">This is {{ presenter.referral.personName }}'s eligibility for Accredited Programmes, based on their risk and need scores.</p>
            {% if showTopDataUnavailableMessage %}
              {% set params = {
                inset: true,
                text: 'Programme needs identifier information is currently unavailable. Try again later.'
              } %}
              {% include "../apiErrorMessages.njk" %}
            {% endif %}
          </div>
          <div class="govuk-grid-column-three-quarters">
            <div class="{{pathwayDetails.class}}">
              <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
                <span>
                  <strong>{{pathwayDetails.headingText}}</strong>
                </span>
              </h3>
              <p class="govuk-body govuk-!-margin-bottom-1">{{pathwayDetails.bodyText}}</p>
            </div>
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
          </div>

          <div class="govuk-grid-column-three-quarters">
            <h2 class="govuk-heading-m">How is this calculated?</h2>
            <p class="govuk-body">Eligibility is based on a combination of:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                <a href="{{ riskAndNeedsUrl }}" class="govuk-link">risk scores</a>
              </li>
              <li>the programme needs identifier (PNI), which uses the following scores</li>
            </ul>
            {% if showTopDataUnavailableMessage %}
              {% set params = {
                inset: true,
                text: 'PNI scores are currently unavailable. Try again later.'
              } %}
              {% include "../apiErrorMessages.njk" %}
            {% endif %}
            {{ govukSummaryList(sexSummary) }}
            {{ govukSummaryList(thinkingSummary) }}
            {{ govukSummaryList(relationshipsSummary) }}
            {{ govukSummaryList(selfManagementSummary) }}
          </div>
        </div>
    </main>
    {% endblock %}
  {% endblock %}
