{% extends "../../partials/layout.njk" %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{%- from "moj/components/alert/macro.njk" import mojAlert -%}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block main %}
    {% block content %}

        <div class="govuk-width-container">
            {{ govukBackLink(backLinkArgs) }}
            <main class="govuk-main-wrapper" id="main-content">
                <h2 class="govuk-heading-l" data-testid="cohort-heading">Which cohort should {{presenter.details.personName}} be in?</h2>
                {{ govukInsetText(currentCohortText) }}
                <form method="post" novalidate action="{{ presenter.changeCohortFormAction }}">
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">

                    {{ govukRadios(radioArgs) }}

                    <div class="govuk-button-group">
                        {{ govukButton({ text: "Submit", preventDoubleClick: true }) }}
                        <a class="govuk-link" href={{ backlinkUri }}>Cancel</a>
                    </div>

                </form>
            </main>

        </div>

    {% endblock %}
{% endblock %}
