.autocomplete__option {
  font-family: Helvetica Neue, Helvetica, Arial;
}

//.autocomplete__input {
//  width: 70% !important;
//}
//
//.autocomplete__menu {
//  width: calc(70% - 4px) !important;
//}
