.custom-primary-navigation__region {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
}


.moj-primary-navigation__container {
  max-width: 1220px;
  margin: 0 15px;
}

@media (min-width: 40.0625em) {
  .moj-primary-navigation__container {
    margin: 0 30px;
  }
}
@media (min-width: 1020px) {
  .moj-primary-navigation__container{
    margin: 0 30px;
  }
}
@media (min-width: 1280px) {
  .moj-primary-navigation__container {
    margin: 0 auto;
  }
}
