{% extends "../partials/layout.njk" %}
{%- from "moj/components/filter/macro.njk" import mojFilter -%}
{% from "moj/components/sub-navigation/macro.njk" import mojSubNavigation %}
{%- from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}


{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{ govukBackLink(backLinkArgs) }}
      </div>

      <div class="govuk-grid-column-two-thirds">
        {% if errorSummary !== null %}
          {{ govukErrorSummary(errorSummary) }}
        {% endif %}
        <span class="govuk-caption-l">{{text.headingCaption}}</span>
        <h1 class="govuk-heading-l">{{text.pageHeading}}</h1>
      </div>

      <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate class="add-another-form">
          <input type="hidden" name="_csrf" value="{{csrfToken}}">
          {% if summaryListArgs %}
            {{ govukSummaryList(summaryListArgs) }}
          {% endif %}
          {{ govukCharacterCount(characterCountArgs) }}
       
          {% if isLastReferral %}
            {{ govukButton({ text: "Submit", preventDoubleClick: true }) }}
          {% else %}
            {{ govukButton({ text: "Continue", preventDoubleClick: true }) }}
          {% endif %}
          {{ govukButton({ text: "Skip and add later", classes: "govuk-button--secondary govuk-!-margin-left-1", preventDoubleClick: true }) }}
        </form>
      </div>
    </div>
{% endblock %}
{% from "govuk/components/button/macro.njk" import govukButton %}
 