{% macro mojAddAnother(params) %}
  {% set addAnotherClasses = params.classes or '' %}
  {% set addAnotherId = params.id or '' %}
  {% set itemLabel = params.itemLabel or 'item' %}
  {% set addAnotherButtonText = params.addAnotherButtonText or 'Add another ' + itemLabel | lower %}
  {% set removeButtonSuffixText = params.removeButtonSuffixText or itemLabel + ' %{number}' %}
  {% set items = params.items or [] %}

  <div class="moj-add-another {{ addAnotherClasses }}" data-module="moj-add-another"{% if addAnotherId %} id="{{ addAnotherId }}"{% endif %}>
    <div class="moj-add-another__items">
      {% for item in items %}
        <div class="moj-add-another__item">
          {% if item.fieldset and item.fieldset.html %}
            {{ item.fieldset.html | safe }}
          {% elif item.html %}
            {{ item.html | safe }}
          {% endif %}

          {% if (items | length) > 1 %}
            {% set removeButtonSuffix = removeButtonSuffixText | replace('%{number}', loop.index) %}
            <button type="button" class="govuk-button govuk-button--secondary moj-add-another__remove-button">
              Remove
              <span class="govuk-visually-hidden"> {{ removeButtonSuffix }}</span>
            </button>
          {% endif %}
        </div>
      {% endfor %}
    </div>

    <button type="button" class="govuk-button govuk-button--secondary moj-add-another__add-button">
      {{ addAnotherButtonText }}
    </button>
  </div>
{% endmacro %}
