{% extends "../partials/layout.njk" %}

{%- from "moj/components/filter/macro.njk" import mojFilter -%}
{%- from "govuk/components/checkboxes/macro.njk" import govukCheckboxes -%}
{%- from "govuk/components/input/macro.njk" import govukInput -%}
{%- from "govuk/components/table/macro.njk" import govukTable -%}
{% from "moj/components/sub-navigation/macro.njk" import mojSubNavigation %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% set pageTitle = pageTitle + " - " + applicationName %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full group-header-container">
      <div class="group-header-content">
        <div class="group-header-title">
          <span class="govuk-caption-xl">{{ text.pageSubHeading }}</span>
          <h1 class="govuk-heading-xl">{{ text.pageHeading }}</h1>
        </div>
        <div class="group-header-action">
          {{ govukButton(createGroupButtonArgs) }}
        </div>
      </div>
    </div>
  </div>
  <div class="govuk-grid-row">
    {%- set filterOptionsHtml %}
    <a class="clear-filters__link" href="?">Clear filters</a>
    {{ govukInput(searchByGroupCodeArgs) }}
    {{ govukSelect(searchByPduSelectArgs) }}

    {% if not presenter.showDeliveryLocations %}
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Delivery location</h3>
      <p class="govuk-body">Select a PDU and apply filters to see delivery locations</p>
    {% endif %}

    {% if presenter.showDeliveryLocations %}
      {{ govukCheckboxes(deliveryLocationCheckboxArgs) }}
    {% endif %}

    {{ govukSelect(searchByCohortArgs) }}
    {{ govukSelect(searchBySexArgs) }}

    {% endset -%}
    <div class="govuk-grid-column-one-quarter group-filter-column">
      <form id="filter-form" method="get">
        {{ mojFilter({
          heading: {
            text: "Filter"
          },

        submit: {
          attributes: {
            "data-test-id": "submit-button"
          }
        },
        optionsHtml: filterOptionsHtml
        }) }}
      </form>
    </div>
    <div class="govuk-grid-column-three-quarters group-results-column">
      {{ mojSubNavigation(subNavArgs) }}
      {% if resultsText %}
        <p class="govuk-body showing-results">{{ resultsText | safe }}</p>
      {% endif %}

      {% if hasResults %}
        {{ govukTable(groupTableArgs) }}
      {% else %}
        {% if presenter.params %}
          <p class="govuk-body-l">{{ noResultsString }}</p>
        {% else %}
          <p class="govuk-body-l">{{ noResultsText }} {{ primaryNavigationArgs.regionText }}</p>
        {% endif %}
      {% endif %}

      {% include "../partials/pagination.njk" %}
    </div>

  </div>

{% endblock %}
