// sass-lint:disable-block no-import-deprecation
$govuk-global-styles: true;
$path: '/assets/images/';

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@use 'govuk-frontend/dist/govuk/index';
@use '@ministryofjustice/frontend/moj/all';
@use 'rosh-widget';
@use 'expanded-predictor-badge';
@use 'predictor-scale';
