{% extends "../../partials/layout.njk" %}
{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

{% block main %}
{% block content %}
<div class="govuk-width-container">
  {{ govukBackLink(backLinkArgs) }}
  <main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% if errorSummary !== null %}
          {{ govukErrorSummary(errorSummary) }}
        {% endif %}
        <form method="post" novalidate>
          <input type="hidden" name="_csrf" value="{{csrfToken}}">
          <h1 class="govuk-heading-l">{{text.pageHeading }}</h1>
          {{ govukCharacterCount(addDetailsCharacterCountArgs) }}
          <div class="govuk-button-group">
            {{ govukButton(submitButtonArgs) }}
            <a class="govuk-link" href={{ cancelLink }}>Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </main>
</div>
{% endblock %}
{% endblock %}
