{% extends "../../partials/layout.njk" %}
{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block main %}
{% block content %}
<div class="govuk-width-container" id="main-content">
  {{ govukBackLink(backLinkArgs) }}
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% if errorSummary !== null %}
          {{ govukErrorSummary(errorSummary) }}
        {% endif %}
        <form method="post" novalidate>
          <input type="hidden" name="_csrf" value="{{csrfToken}}">
          <span class="govuk-caption-l">{{ presenter.text.pageHeading }}</span>
          {{ govukRadios(radioArgs) }}
          <div class="govuk-button-group">
            {{ govukButton({ text: "Continue", preventDoubleClick: true }) }}
            <a class="govuk-link" href={{ cancelLink }}>Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% endblock %}
