{% extends "../../partials/layout.njk" %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{%- from "moj/components/date-picker/macro.njk" import mojDatePicker -%}


{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block main %}
{% block content %}
<div class="govuk-width-container" id="main-content">
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% set dateHtml %}
        {{ mojDatePicker({
          id: "date",
          name: "date",
          label: {
            text: "Date"
          },
          hint: {
            text: "For example, 17/5/2024."
          }
        }) }}
        {% endset -%}

        {{ govukRadios({
          name: "contact",
          fieldset: {
            legend: {
              text: "Do you want to add an end date for this availability?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "If you know this availability will change, for example if someone is starting a new job or travelling, add the date it will change."
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              conditional: {
                html: dateHtml
              }
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% endblock %}










