{% extends "../../partials/layout.njk" %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{%- from "moj/components/date-picker/macro.njk" import mojDatePicker -%}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block main %}
{% block content %}
<div class="govuk-width-container" id="main-content">
  {{ govukBackLink(backLinkArgs) }}
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% if errorSummary !== null %}
        {{ govukErrorSummary(errorSummary) }}
        {% endif %}
        <form method="post" novalidate>
          <input type="hidden" name="_csrf" value="{{csrfToken}}">
        {% set dateHtml %}
        {{ mojDatePicker(datePickerArgs) }}
        {% endset -%}

        {{ govukRadios(radioArgs(dateHtml)) }}

        <div class="govuk-button-group">
          {{ govukButton({ text: "Submit", preventDoubleClick: true }) }}
          <a class="govuk-link" href={{ backlinkUri }}>Cancel</a>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% endblock %}










