{% extends "../../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block main %}
{% block content %}
<div class="govuk-width-container" id="main-content">
  {{ govukBackLink(backLinkArgs) }}
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% if errorSummary !== null %}
          {{ govukErrorSummary(errorSummary) }}
        {% endif %}

        <form method="post" novalidate>
          <input type="hidden" name="_csrf" value="{{csrfToken}}">
            {{ govukCheckboxes(checkboxArgs) }}

            {{govukCharacterCount(otherDetailsTextAreaArgs) }}

            <div class="govuk-button-group">
              {{ govukButton({ text: "Save and continue", preventDoubleClick: true }) }}
              <a class="govuk-link" href={{ backlinkUri }}>Cancel</a>
            </div>

        </form>
      </div>
    </div>

  </div>
</div>

{% endblock %}
{% endblock %}










