{% extends "../partials/layout.njk" %}

{%- from "moj/components/filter/macro.njk" import mojFilter -%}
{%- from "govuk/components/checkboxes/macro.njk" import govukCheckboxes -%}
{%- from "govuk/components/input/macro.njk" import govukInput -%}
{%- from "govuk/components/table/macro.njk" import govukTable -%}
{% from "moj/components/sub-navigation/macro.njk" import mojSubNavigation %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "../components/selectWithOptGroup.njk" import govukSelectWithOptgroup %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Referrals in Brighton and Hove</span>
      <h1 class="govuk-heading-l">{{ presenter.text.pageHeading }}</h1>
    </div>
  </div>
  <div class="govuk-grid-row">

    {%- set filterOptionsHtml %}

    {{ govukInput(presenter.searchBycrnOrPersonNameArgs) }}
    {{ govukSelect(presenter.searchByCohortArgs()) }}
    {{ govukSelectWithOptgroup(presenter.searchByStatusArgs()) }}
    {% endset -%}
    <div class="govuk-grid-column-one-quarter">
      <form id="filter-form" method="get">
        {{ mojFilter({
          heading: {
            text: "Filters"
          },

        submit: {
          attributes: {
            "data-test-id": "submit-button"
          }
        },

        selectedFilters: selectedFilters,
        optionsHtml: filterOptionsHtml
        }) }}
      </form>
    </div>
    <div class="govuk-grid-column-three-quarters">
      {{ mojSubNavigation(subNavArgs) }}
      {% if presenter.referralCaseListItems.content.length > 0 %}
        {{ govukTable(presenter.getCaseloadTableArgs()) }}
      {% else %}
      <p>No results found. Clear or change the filters</p>
      {% endif %}


      {% include "../partials/pagination.njk" %}
    </div>

  </div>

{% endblock %}
