.govuk-main-wrapper {
  min-height: 600px;
}

.availability-checkboxes {
  .govuk-checkboxes__divider {
    font-size: 1.5rem;
    line-height: 1.25;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 30px;
  }
}

.govuk-tag {
  color: #0b0c0c;
}

.govuk-summary-card__content {
  .no-first-key .govuk-summary-list__row:first-child {
    display: table-caption;
    border: none;
    padding-bottom: 20px;

    .govuk-summary-list__key {
      display: none;
    }
  }
}

.moj-filter__content {
  .govuk-select {
    width: 100%;
  }
}
.govuk-tag.max-width-none {
  max-width: none;
}
.moj-filter__options {
  .clear-filters__link {
    display: inline-block;
    padding: 0;
    @include govuk-responsive-margin(4, 'bottom');
    @include govuk-media-query($from: mobile) {
      @include govuk-responsive-margin(6, 'bottom');
    }

    @include govuk-media-query($from: desktop) {
      padding-left: 3px;
      @include govuk-responsive-padding(1, 'top');
      white-space: nowrap;
    }
  }

  .govuk-button {
    @include govuk-responsive-margin(4, 'bottom');
    @include govuk-media-query($from: desktop) {
      margin-right: 0.4rem;
    }
  }
}

.moj-timeline__item .moj-timeline__description .govuk-tag {
  display: inline;
}
