.govuk-main-wrapper {
  min-height: 600px;
}

.availability-checkboxes {
  .govuk-checkboxes__divider{
    font-size: 1.5rem;
    line-height: 1.25;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 30px;
  }
}

.govuk-tag {
  color: #0b0c0c;
}
