@use '../../../node_modules/govuk-frontend/dist/govuk' as *;
.govuk-main-wrapper {
  min-height: 600px;
}

.availability-checkboxes {
  .govuk-checkboxes__divider {
    font-size: 1.5rem;
    line-height: 1.25;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 30px;
  }
}

.govuk-tag {
  color: #0b0c0c;
}

.header-menu-button {
  float: right;
}

.homepage-link {
  float: right;
  padding-bottom: 20px;
}

.govuk-summary-card__content {
  .no-first-key .govuk-summary-list__row:first-child {
    display: table-caption;
    border: none;
    padding-bottom: 20px;

    .govuk-summary-list__key {
      display: none;
    }
  }
}

.moj-filter__content {
  .govuk-select {
    width: 100%;
  }
}
.govuk-tag.max-width-none {
  max-width: none;
}
.moj-filter__options {
  .clear-filters__link {
    display: inline-block;
    padding: 0;
    @include govuk-responsive-margin(4, 'bottom');
    @include govuk-media-query($from: mobile) {
      @include govuk-responsive-margin(6, 'bottom');
    }

    @include govuk-media-query($from: desktop) {
      padding-left: 3px;
      @include govuk-responsive-padding(1, 'top');
      white-space: nowrap;
    }
  }

  .govuk-button {
    @include govuk-responsive-margin(4, 'bottom');
    @include govuk-media-query($from: desktop) {
      margin-right: 0.4rem;
    }
  }
}

.moj-timeline__item .moj-timeline__description .govuk-tag {
  display: inline;
}

.govuk-table {
  &.allocated {
    max-width: 70%;
  }

  &__cell {
    a {
      display: block;
    }
  }
}

.govuk-radios--small.group-details-table {
  margin-top: 15px;
}

.govuk-table__header {
  button {
    align-items: flex-start;
    svg {
      flex-shrink: 0;
      min-width: 12px;
      min-height: 12px;
    }
  }
}

.return_to_homepage__link {
  display: inline-block;
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
}
//create a group when - am pm select adjustments
.govuk-select.govuk-date-select__select {
  min-width: 3.5em;
}

.govuk-checkboxes__conditional:has(.govuk-input--error, .govuk-select--error) {
  border-left-color: #d4351c;
}

.create_group_button {
  display: inline-block;
  float: right;
}

.govuk-error-message.govuk-error-message--list {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}
.group-details__service-navigation {
  margin-bottom: 30px;
  background-color: transparent;
}
