{% extends "../partials/layout.njk" %}

{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
     {{ mojSubNavigation(serviceNavigationArgs) }}
    <span class="govuk-caption-xl">{{ text.pageSubHeading }}</span>
    <h1 class="govuk-heading-xl">{{ text.headingText }}</h1>
  </div>
</div>


{% endblock %}
