{% extends "../partials/layout.njk" %}

{%- from "moj/components/filter/macro.njk" import mojFilter -%}
{%- from "govuk/components/input/macro.njk" import govukInput -%}
{%- from "govuk/components/table/macro.njk" import govukTable -%}
{% from "moj/components/sub-navigation/macro.njk" import mojSubNavigation %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{%- from "moj/components/alert/macro.njk" import mojAlert -%}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{%- from "govuk/components/checkboxes/macro.njk" import govukCheckboxes -%}
{% from "../components/groupServiceNavigation.njk" import groupServiceNavigation %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">{{ text.pageSubHeading }}</span>
    <h1 class="govuk-heading-xl">{{ text.pageHeading }}</h1>
  </div>

</div>
{{ groupServiceNavigation(serviceNavigationArgs) }}
<div class="govuk-grid-row">

  {%- set filterOptionsHtml %}
  <a class="clear-filters__link" href="?">Clear filters</a>
  {{ govukInput(searchByCrnOrPersonNameArgs) }}
  {% if isWaitlist %}
    {{ govukSelect(searchByCohortArgs) }}
    {{ govukSelect(searchBySexArgs) }}
    {{ govukSelect(searchByPduArgs) }}

    {% if not presenter.showReportingLocations %}
      <h2 class="govuk-heading-s govuk-!-margin-bottom-1 govuk-!-margin-top-6">Reporting team</h2>
      <p class="govuk-body">Select a PDU and apply filters to see reporting teams</p>
    {% endif %}

    {% if presenter.showReportingLocations %}
      {{ govukCheckboxes(reportingTeamCheckboxArgs) }}
    {% endif %}
  {% endif %}
  {% endset -%}
  <div class="govuk-grid-column-one-quarter">
    <form id="filter-form" method="get">
      {{ mojFilter({
      heading: {
      text: "Filter"
      },

      submit: {
      attributes: {
      "data-test-id": "submit-button"
      }
      },


      optionsHtml: filterOptionsHtml
      }) }}
    </form>
  </div>
  <div class="govuk-grid-column-three-quarters">
    {% if errorSummary !== null %}
      {{ govukErrorSummary(errorSummary) }}
    {% endif %}

    {% if successMessageArgs !== null %}
      {{ mojAlert(successMessageArgs) }}
    {% endif %}

    {{ mojSubNavigation(subNavArgs) }}
 {% if resultsText %}
        <p class="govuk-body showing-results">{{ resultsText | safe }}</p>
      {% endif %}
    <form method="post">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">
      <div id="add-to-group"></div>
      {% if hasResults %}
        {{ govukTable(getGroupDetailsTableArgs) }}
        {{ govukButton(formButtonArgs) }}
      {% else %}
        <p class="govuk-body-l">{{ noResultsString }}</p>
      {% endif %}
    </form>
     {% include "../partials/pagination.njk" %}
  </div>
</div>

  {% endblock %}

