{% extends "../partials/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block main %}
    {% block content %}
        <div class="govuk-width-container" id="main-content">
            <div class="govuk-main-wrapper">
                <div class="govuk-grid-row govuk-!-margin-bottom-6">
                  <div class="govuk-grid-column-two-thirds">
                    {{ govukBackLink(backLinkArgs) }}
                  </div>
                  <div class="govuk-grid-column-one-third">
                    <a class="return_to_homepage__link" href="{{ homePageLink.href }}">
  {{ homePageLink.text }}
</a>

                    
                  </div>
                </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        {% if errorSummary !== null %}
                            {{ govukErrorSummary(errorSummary) }}
                        {% endif %}
                        <span class="govuk-caption-l">{{ text.headingHintText }}</span>
                        <form method="post" novalidate>
                            <input type="hidden" name="_csrf" value="{{csrfToken}}">
                         <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      When will the group run?
    </legend>

    <p class="govuk-caption-m">
      Select when group sessions will run. You can add extra information later, for example about times of individual sessions.
    </p>

    <p class="govuk-caption-m">
      Sessions that fall on bank holidays will automatically be moved to the next scheduled date.
    </p>
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
     <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input"
           id="monday"
           name="days-of-week"
           type="checkbox"
           value="MONDAY"
           data-aria-controls="monday-conditional">
    <label class="govuk-label govuk-checkboxes__label" for="monday">
      Mondays
    </label>
  </div>
  <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden"
       id="monday-conditional">
    
    <div class="govuk-!-margin-left-3">
      <p class="govuk-caption-l">Start time</p>
      <p class="govuk-caption-m">
        Use the 12-hour clock, for example 9:30am or 3:00pm. Enter 12:00pm for midday.
      </p>
      <div class="govuk-date-input" id="monday-time">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="monday-hour">
              Hour
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                   id="monday-hour"
                   name="monday-hour"
                   type="text"
                   inputmode="numeric"
                   pattern="[0-9]*"
                   maxlength="2">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="monday-minute">
              Minute
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                   id="monday-minute"
                   name="monday-minute"
                   type="text"
                   inputmode="numeric"
                   pattern="[0-9]*"
                   maxlength="2">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="monday-ampm">
              am or pm
            </label>

            <select class="govuk-select govuk-date-select__select"
                    id="monday-ampm"
                    name="monday-ampm">
              <option value=""></option>
              <option value="am">am</option>
              <option value="pm">pm</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="govuk-checkboxes" data-module="govuk-checkboxes">
     <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input"
           id="tuesday"
           name="days-of-week"
           type="checkbox"
           value="TUESDAY"
           data-aria-controls="tuesday-conditional">
    <label class="govuk-label govuk-checkboxes__label" for="tuesday">
      Tuesdays
    </label>
  </div>
  <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden"
       id="tuesday-conditional">
    
    <div class="govuk-!-margin-left-3">
      <p class="govuk-caption-l">Start time</p>
      <p class="govuk-caption-m">
        Use the 12-hour clock, for example 9:30am or 3:00pm. Enter 12:00pm for midday.
      </p>
      <div class="govuk-date-input" id="tuesday-time">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="tuesday-hour">
              Hour
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                   id="tuesday-hour"
                   name="tuesday-hour"
                   type="text"
                   inputmode="numeric"
                   pattern="[0-9]*"
                   maxlength="2">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="tuesday-minute">
              Minute
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                   id="tuesday-minute"
                   name="tuesday-minute"
                   type="text"
                   inputmode="numeric"
                   pattern="[0-9]*"
                   maxlength="2">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="tuesday-ampm">
              am or pm
            </label>

            <select class="govuk-select govuk-date-select__select"
                    id="tuesday-ampm"
                    name="tuesday-ampm">
              <option value=""></option>
              <option value="am">am</option>
              <option value="pm">pm</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="govuk-checkboxes" data-module="govuk-checkboxes">
     <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input"
           id="wednesday"
           name="days-of-week"
           type="checkbox"
           value="WEDNESDAY"
           data-aria-controls="wednesday-conditional">
    <label class="govuk-label govuk-checkboxes__label" for="wednesday">
      Wednesdays
    </label>
  </div>
  <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden"
       id="wednesday-conditional">
    
    <div class="govuk-!-margin-left-3">
      <p class="govuk-caption-l">Start time</p>
      <p class="govuk-caption-m">
        Use the 12-hour clock, for example 9:30am or 3:00pm. Enter 12:00pm for midday.
      </p>
      <div class="govuk-date-input" id="wednesday-time">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="wednesday-hour">
              Hour
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                   id="wednesday-hour"
                   name="wednesday-hour"
                   type="text"
                   inputmode="numeric"
                   pattern="[0-9]*"
                   maxlength="2">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="wednesday-minute">
              Minute
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                   id="wednesday-minute"
                   name="wednesday-minute"
                   type="text"
                   inputmode="numeric"
                   pattern="[0-9]*"
                   maxlength="2">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="wednesday-ampm">
              am or pm
            </label>

            <select class="govuk-select govuk-date-select__select"
                    id="wednesday-ampm"
                    name="wednesday-ampm">
              <option value=""></option>
              <option value="am">am</option>
              <option value="pm">pm</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="govuk-checkboxes" data-module="govuk-checkboxes">
     <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input"
           id="thursday"
           name="days-of-week"
           type="checkbox"
           value="THURSDAY"
           data-aria-controls="thursday-conditional">
    <label class="govuk-label govuk-checkboxes__label" for="thursday">
      Thursday
    </label>
  </div>
  <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden"
       id="thursday-conditional">
    
    <div class="govuk-!-margin-left-3">
      <p class="govuk-caption-l">Start time</p>
      <p class="govuk-caption-m">
        Use the 12-hour clock, for example 9:30am or 3:00pm. Enter 12:00pm for midday.
      </p>
      <div class="govuk-date-input" id="thursday-time">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="thursday-hour">
              Hour
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                   id="thursday-hour"
                   name="thursday-hour"
                   type="text"
                   inputmode="numeric"
                   pattern="[0-9]*"
                   maxlength="2">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="thursday-minute">
              Minute
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                   id="thursday-minute"
                   name="thursday-minute"
                   type="text"
                   inputmode="numeric"
                   pattern="[0-9]*"
                   maxlength="2">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="thursday-ampm">
              am or pm
            </label>

            <select class="govuk-select govuk-date-select__select"
                    id="thursday-ampm"
                    name="thursday-ampm">
              <option value=""></option>
              <option value="am">am</option>
              <option value="pm">pm</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="govuk-checkboxes" data-module="govuk-checkboxes">
     <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input"
           id="friday"
           name="days-of-week"
           type="checkbox"
           value="FRIDAY"
           data-aria-controls="friday-conditional">
    <label class="govuk-label govuk-checkboxes__label" for="friday">
      Fridays
    </label>
  </div>
  <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden"
       id="friday-conditional">
    
    <div class="govuk-!-margin-left-3">
      <p class="govuk-caption-l">Start time</p>
      <p class="govuk-caption-m">
        Use the 12-hour clock, for example 9:30am or 3:00pm. Enter 12:00pm for midday.
      </p>
      <div class="govuk-date-input" id="friday-time">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="friday-hour">
              Hour
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                   id="friday-hour"
                   name="friday-hour"
                   type="text"
                   inputmode="numeric"
                   pattern="[0-9]*"
                   maxlength="2">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="friday-minute">
              Minute
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                   id="friday-minute"
                   name="friday-minute"
                   type="text"
                   inputmode="numeric"
                   pattern="[0-9]*"
                   maxlength="2">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="friday-ampm">
              am or pm
            </label>

            <select class="govuk-select govuk-date-select__select"
                    id="friday-ampm"
                    name="friday-ampm">
              <option value=""></option>
              <option value="am">am</option>
              <option value="pm">pm</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="govuk-checkboxes" data-module="govuk-checkboxes">
     <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input"
           id="saturday"
           name="days-of-week"
           type="checkbox"
           value="SATURDAY"
           data-aria-controls="saturday-conditional">
    <label class="govuk-label govuk-checkboxes__label" for="saturday">
      Saturdays
    </label>
  </div>
  <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden"
       id="saturday-conditional">
    
    <div class="govuk-!-margin-left-3">
      <p class="govuk-caption-l">Start time</p>
      <p class="govuk-caption-m">
        Use the 12-hour clock, for example 9:30am or 3:00pm. Enter 12:00pm for midday.
      </p>
      <div class="govuk-date-input" id="saturday-time">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="saturday-hour">
              Hour
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                   id="saturday-hour"
                   name="saturday-hour"
                   type="text"
                   inputmode="numeric"
                   pattern="[0-9]*"
                   maxlength="2">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="saturday-minute">
              Minute
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                   id="saturday-minute"
                   name="saturday-minute"
                   type="text"
                   inputmode="numeric"
                   pattern="[0-9]*"
                   maxlength="2">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="saturday-ampm">
              am or pm
            </label>

            <select class="govuk-select govuk-date-select__select"
                    id="saturday-ampm"
                    name="saturday-ampm">
              <option value=""></option>
              <option value="am">am</option>
              <option value="pm">pm</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="govuk-checkboxes" data-module="govuk-checkboxes">
     <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input"
           id="sunday"
           name="days-of-week"
           type="checkbox"
           value="SUNDAY"
           data-aria-controls="sunday-conditional">
    <label class="govuk-label govuk-checkboxes__label" for="sunday">
      Sundays
    </label>
  </div>
  <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden"
       id="sunday-conditional">
    
    <div class="govuk-!-margin-left-3">
      <p class="govuk-caption-l">Start time</p>
      <p class="govuk-caption-m">
        Use the 12-hour clock, for example 9:30am or 3:00pm. Enter 12:00pm for midday.
      </p>
      <div class="govuk-date-input" id="sunday-time">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="sunday-hour">
              Hour
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                   id="sunday-hour"
                   name="sunday-hour"
                   type="text"
                   inputmode="numeric"
                   pattern="[0-9]*"
                   maxlength="2">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="sunday-minute">
              Minute
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                   id="sunday-minute"
                   name="sunday-minute"
                   type="text"
                   inputmode="numeric"
                   pattern="[0-9]*"
                   maxlength="2">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="sunday-ampm">
              am or pm
            </label>

            <select class="govuk-select govuk-date-select__select"
                    id="sunday-ampm"
                    name="sunday-ampm">
              <option value=""></option>
              <option value="am">am</option>
              <option value="pm">pm</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  </fieldset>
</div>


                            {{ govukButton({ text: "Continue", preventDoubleClick: true }) }}
                        </form>
                    </div>
                </div>
                </div>
        </div>
    {% endblock %}
{% endblock %}