{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

<div>
    <h2 class="govuk-heading-l">Learning needs</h2>
    {{ govukInsetText(assessmentCompletedText) }}
    {{ govukSummaryList(infoSummaryList) }}
    {{ govukSummaryList(scoreSummaryList) }}
</div>
