{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

<div>
    <h2 class="govuk-heading-l">Section 7 - Lifestyle and associates</h2>
    {{ govukInsetText(assessmentCompletedText) }}
    {{ govukSummaryList(reoffendingSummaryList) }}
    {{ govukSummaryList(lifestyleIssuesSummaryList) }}
</div>
