{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

<div>
  <h2 class="govuk-heading-l">Section 2 - Offence analysis</h2>
  {{ govukInsetText(assessmentCompletedText) }}
  {{ govukSummaryList(briefOffenceDetailsSummary) }}
  {{ govukSummaryList(victimsAndPartnersSummary) }}
  {{ govukSummaryList(impactAndConsequencesSummary) }}
  {{ govukSummaryList(otherOffendersAndInfluences) }}
  {{ govukSummaryList(motivationAndTriggersSummary) }}
  {{ govukSummaryList(responsibilitySummary) }}
  {{ govukSummaryList(patternOfOffendingSummary) }}
</div>
