
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

<div>

  {{ govukWarningText(updateWarning) }}
  {{ govukDetails(updateDetails) }}

</div>
