
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "components/ogrs4/predictor-scale/macro.njk" import predictorScale %}
{% from "components/ogrs4/expanded-predictor-badge/macro.njk" import expandedPredictorBadge %}
{% from "./_riskBox.njk" import riskBox %}
{% from "components/ogrs4/rosh-widget/macro.njk" import roshWidget %}
{% from "components/risk-flag-widget/macro.njk" import riskFlagWidget %}

<div>

  {{ govukWarningText(updateWarning) }}
  {{ govukDetails(updateDetails) }}

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  {{ govukInsetText(assessmentCompletedText) }}
  <div class="ogrs4-content">
    <h2 class="govuk-heading-m">All reoffending predictor scale</h2>
    {{ predictorScale(allReoffendingPredictor, true, true, true) }}

    <h2 class="govuk-heading-m">Violent reoffending predictor</h2>
    {{ expandedPredictorBadge(violentReoffendingPredictor, true, false) }}

    <h2 class="govuk-heading-m">Spousal assault risk assessment</h2>
    {{ riskBox(riskTowardsPartnerBox) }}
    {{ riskBox(riskTowardsOthersBox) }}

    <h2 class="govuk-heading-m">Combined serious reoffending predictor</h2>
    {{ expandedPredictorBadge(combinedSeriousReoffendingPredictor, true, false) }}
    {{ expandedPredictorBadge(directContactSexualReoffendingPredictor, true, false) }}
    {{ expandedPredictorBadge(imagesAndIndirectContactSexualReoffendingPredictor, true, false) }}
    {{ roshWidget(roshRiskSummary) }}
    {{ govukInsetText(importedFromNdeliusText) }}

    <h2 class="govuk-heading-m">Risk alerts</h2>
    {{ riskFlagWidget(activeAlerts) }}
  </div>
</div>
