{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "./_riskBox.njk" import riskBox %}
{% from "./_ospBox.njk" import ospBox %}
{% from "components/risk-flag-widget/macro.njk" import riskFlagWidget %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{%- from "govuk/macros/attributes.njk" import govukAttributes -%}
{% macro unavailableSectionMessage(sectionTitle) %}
  {% set params = {
    inset: true,
    text: sectionTitle ~ ' information is currently unavailable. Try again later.'
  } %}
  {% include "../apiErrorMessages.njk" %}
{% endmacro %}

<div>

  {{ govukInsetText(assessmentCompletedText) }}

  <h3 class="govuk-heading-s" data-testid="ogrs-heading">Offender group reconviction scale</h3>

  {% set ogrsSectionUnavailable =
    ogrsYear1Box.levelText == 'UNKNOWN'
    and ogrsYear2Box.levelText == 'UNKNOWN'
    and not ogrsYear1Box.figure
    and not ogrsYear2Box.figure %}

  {% if ogrsSectionUnavailable %}
    {{ unavailableSectionMessage('Offender group reconviction scale') }}
  {% else %}
    {{ riskBox(ogrsYear1Box) }}
    {{ riskBox(ogrsYear2Box) }}
  {% endif %}

 

  <h3 class="govuk-heading-s" data-testid="ovp-heading">Offender violence predictor</h3>

  {% set ovpSectionUnavailable =
    ovpYear1Box.levelText == 'UNKNOWN'
    and ovpYear2Box.levelText == 'UNKNOWN'
    and not ovpYear1Box.figure
    and not ovpYear2Box.figure %}

  {% if ovpSectionUnavailable %}
    {{ unavailableSectionMessage('Offender violence predictor') }}
  {% else %}
    {{ riskBox(ovpYear1Box) }}
    {{ riskBox(ovpYear2Box) }}
  {% endif %}

  <h3 class="govuk-heading-s" data-testid="sara-heading">Spousal assault risk assessment</h3>

  {% set saraSectionUnavailable =
    riskTowardsPartnerBox.levelText == 'UNKNOWN'
    and riskTowardsOthersBox.levelText == 'UNKNOWN' %}

  {% if saraSectionUnavailable %}
    {{ unavailableSectionMessage('Spousal assault risk assessment') }}
  {% else %}
    {{ riskBox(riskTowardsPartnerBox) }}
    {{ riskBox(riskTowardsOthersBox) }}
  {% endif %}

  <h3 class="govuk-heading-s" data-testid="rsr-heading">Risk of serious recidivism</h3>

  {% set rsrBody %}
  <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-3">
  <ul class="govuk-list govuk-!-margin-top-3 govuk-!-margin-bottom-2">
    {{ ospBox(ospcBox) }}
    {{ ospBox(ospiBox) }}
  </ul>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  {% endset %}

  {% set rsrSectionUnavailable =
    riskOfSeriousRecidivismBox.levelText == 'UNKNOWN'
    and not riskOfSeriousRecidivismBox.figure
    and ospcBox.levelText == 'UNKNOWN'
    and ospiBox.levelText == 'UNKNOWN' %}

  {% if rsrSectionUnavailable %}
    {{ unavailableSectionMessage('Risk of serious recidivism') }}
  {% else %}
    {{ riskBox(riskOfSeriousRecidivismBox | objectMerge({ bodyHtml: rsrBody })) }}
  {% endif %}

  <h3 class="govuk-heading-s" data-testid="rosh-heading">Risk of serious harm</h3>

  {% set roshBody %}
    <p class="govuk-body govuk-!-margin-bottom-1">Risk of serious harm</p>
    {% if roshLastupdated %}
      {{ roshLastupdated | safe }}
    {% endif %}
    {{ govukTable(roshTable) }}
  {% endset %}

  {% if roshRiskBox.levelText == 'UNKNOWN' %}
    {{ unavailableSectionMessage('Risk of serious harm') }}
  {% else %}
    {{ riskBox(roshRiskBox | objectMerge({ bodyHtml: roshBody })) }}
  {% endif %}

  {{ govukInsetText(importedFromNdeliusText) }}

  <h3 class="govuk-heading-s" data-testid="alerts-heading">Risk flags</h3>
  {% if activeAlerts.flags == null %}
    {{ unavailableSectionMessage('Risk flags') }}
  {% else %}
    {{ riskFlagWidget(activeAlerts) }}
  {% endif %}

</div>
